@import "~bootstrap/scss/bootstrap.scss";

body {
  background-color: #3db107;
}
#card {
  width: 300px;
  height: 450px;
  border-radius: 15px;
  padding: 20px;
  margin: 50px auto;
  background-color: #fff;
}
#btn {
  font-size: 50px;
}
.value {
  margin-top: 50%;
}
.value,
.icon {
  font-size: 80px;
}
.i-one {
  float: left;
}
.i-two {
  float: right;
  margin-bottom: -30px;
  transform: scaleX(-1);
}
.red {
  color: red;
}
.black {
  color: black;
}
